Exercise from Think Stats, 2nd Edition (thinkstats2.com)<br>
Allen Downey

In [35]:
import nsfg
df = nsfg.ReadFemPreg()
df

    caseid  pregordr  howpreg_n  howpreg_p  moscurrp  nowprgdk  pregend1  \
0        1         1        NaN        NaN       NaN       NaN         6
1        1         2        NaN        NaN       NaN       NaN         6
2        2         1        NaN        NaN       NaN       NaN         5
3        2         2        NaN        NaN       NaN       NaN         6
4        2         3        NaN        NaN       NaN       NaN         6
5        6         1        NaN        NaN       NaN       NaN         6
6        6         2        NaN        NaN       NaN       NaN         6
7        6         3        NaN        NaN       NaN       NaN         6
8        7         1        NaN        NaN       NaN       NaN         5
9        7         2        NaN        NaN       NaN       NaN         5
10      12         1        NaN        NaN       NaN       NaN         5
11      14         1        NaN        NaN       NaN       NaN         6
12      14         2        NaN        NaN       NaN       NaN         6
13      14         3        NaN        NaN       NaN       NaN         3
14      15         1        NaN        NaN       NaN       NaN         1
15      15         2        NaN        NaN       NaN       NaN         6
16      15         3        NaN        NaN       NaN       NaN         6
17      18         1        NaN        NaN       NaN       NaN         5
18      18         2        NaN        NaN       NaN       NaN         1
19      21         1        NaN        NaN       NaN       NaN         6
20      21         2        NaN        NaN       NaN       NaN         6
21      23         1        NaN        NaN       NaN       NaN         6
22      23         2        NaN        NaN       NaN       NaN         1
23      24         1        NaN        NaN       NaN       NaN         6
24      24         2        NaN        NaN       NaN       NaN         6
25      24         3        NaN        NaN       NaN       NaN         6
26      28         1        NaN        NaN       NaN       NaN         6
27      31         1        NaN        NaN       NaN       NaN         6
28      31         2        NaN        NaN       NaN       NaN         6
29      31         3        NaN        NaN       NaN       NaN         6
30      36         1        NaN        NaN       NaN       NaN         1
31      36         2        NaN        NaN       NaN       NaN         6
32      38         1        NaN        NaN       NaN       NaN         5
33      38         2        NaN        NaN       NaN       NaN         6
34      38         3        NaN        NaN       NaN       NaN         6
35      39         1        NaN        NaN       NaN       NaN         5
36      39         2        NaN        NaN       NaN       NaN         3
37      44         1        NaN        NaN       NaN       NaN         1
38      44         2        NaN        NaN       NaN       NaN         1
39      44         3        NaN        NaN       NaN       NaN         6
40      44         4        NaN        NaN       NaN       NaN         6
41      45         1        NaN        NaN       NaN       NaN         1
42      46         1        NaN        NaN       NaN       NaN         5
43      46         2        NaN        NaN       NaN       NaN         5
44      49         1        NaN        NaN       NaN       NaN         6
45      49         2        NaN        NaN       NaN       NaN         3
46      49         3        NaN        NaN       NaN       NaN         3
47      49         4        NaN        NaN       NaN       NaN         6
48      51         1        NaN        NaN       NaN       NaN         6
49      51         2        NaN        NaN       NaN       NaN         6
50      51         3        NaN        NaN       NaN       NaN         1
51      52         1        NaN        NaN       NaN       NaN         3
52      57         1        NaN        NaN       NaN       NaN         5
53      57         2        NaN        NaN       NaN       NaN         5
54      57         3        NaN        NaN       NaN       NaN         5
55      60         1        NaN        NaN       NaN       NaN         6
56      60         2        NaN        NaN       NaN       NaN         6
57      63         1        NaN        NaN       NaN       NaN         1
58      63         2        NaN        NaN       NaN       NaN         6
59      63         3        NaN        NaN       NaN       NaN         6
       ...       ...        ...        ...       ...       ...       ...

    pregend2  nbrnaliv  multbrth  cmotpreg  prgoutcome  cmprgend  flgdkmo1  \
0        NaN         1       NaN       NaN           1      1093       NaN
1        NaN         1       NaN       NaN           1      1166       NaN
2        NaN         3         5       NaN           1      1156       NaN
3        NaN         1       NaN       NaN           1      1198       NaN
4        NaN         1       NaN       NaN           1      1204       NaN
5        NaN         1       NaN       NaN           1      1074       NaN
6        NaN         1       NaN       NaN           1      1096       NaN
7        NaN         1       NaN       NaN           1      1112       NaN
8        NaN         1       NaN       NaN           1      1095       NaN
9        NaN         1       NaN       NaN           1      1146       NaN
10       NaN         1       NaN       NaN           1      1060       NaN
11       NaN         1       NaN       NaN           1      1065       NaN
12       NaN         1       NaN       NaN           1      1084       NaN
13       NaN       NaN       NaN      1147           2      1147         1
14       NaN       NaN       NaN      1174           2      1174         0
15       NaN         1       NaN       NaN           1      1184       NaN
16       NaN         1       NaN       NaN           1      1208       NaN
17       NaN         1       NaN       NaN           1       943       NaN
18       NaN       NaN       NaN      1050           2      1050         0
19       NaN         1       NaN       NaN           1      1137       NaN
20       NaN         1       NaN       NaN           1      1169       NaN
21       NaN         1       NaN       NaN           1       953       NaN
22       NaN       NaN       NaN      1051           2      1051         1
23       NaN         1       NaN       NaN           1      1077       NaN
24       NaN         1       NaN       NaN           1      1119       NaN
25       NaN         1       NaN       NaN           1      1163       NaN
26       NaN         1       NaN       NaN           1      1148       NaN
27       NaN         1       NaN       NaN           1       931       NaN
28       NaN         1       NaN       NaN           1       955       NaN
29       NaN         1       NaN       NaN           1       965       NaN
30       NaN       NaN       NaN      1149           2      1149         0
31       NaN         1       NaN       NaN           1      1178       NaN
32       NaN         1       NaN       NaN           1      1101       NaN
33       NaN         1       NaN       NaN           1      1121       NaN
34       NaN         1       NaN       NaN           1      1233       NaN
35       NaN         2         1       NaN           1      1152       NaN
36       NaN       NaN       NaN      1183           2      1183         0
37       NaN       NaN       NaN      1023           2      1023         0
38       NaN       NaN       NaN      1123           2      1123         0
39       NaN         1       NaN       NaN           1      1165       NaN
40       NaN         1       NaN       NaN           1      1222       NaN
41       NaN       NaN       NaN      1225           2      1225         0
42       NaN         1       NaN       NaN           1      1009       NaN
43       NaN         1       NaN       NaN           1      1051       NaN
44       NaN         1       NaN       NaN           1      1091       NaN
45       NaN       NaN       NaN      1126           2      1126         1
46       NaN       NaN       NaN      1150           2      1150         1
47       NaN         1       NaN       NaN           1      1163       NaN
48       NaN         1       NaN       NaN           1      1104       NaN
49       NaN         1       NaN       NaN           1      1177       NaN
50       NaN       NaN       NaN      1195           2      1195         0
51       NaN       NaN       NaN      1080           2      1080         0
52       NaN         1       NaN       NaN           1      1064       NaN
53       NaN         1       NaN       NaN           1      1098       NaN
54       NaN         1       NaN       NaN           1      1109       NaN
55       NaN         1       NaN       NaN           1      1092       NaN
56       NaN         1       NaN       NaN           1      1146       NaN
57       NaN       NaN       NaN      1081           2      1081         1
58       NaN         1       NaN       NaN           1      1101       NaN
59       NaN         1       NaN       NaN           1      1134       NaN
         ...       ...       ...       ...         ...       ...       ...

    cmprgbeg  ageatend  hpageend  gestasun_m  gestasun_w  wksgest
0       1084       NaN       NaN           9           0       39 ...
1       1157       NaN       NaN           9           0       39 ...
2       1147       NaN       NaN           0          39       39 ...
3       1189       NaN       NaN           0          39       39 ...
4       1195       NaN       NaN           0          39       39 ...
5       1065       NaN       NaN           0          38       38 ...
6       1087       NaN       NaN           0          40       40 ...
7       1102       NaN       NaN           0          42       42 ...
8       1086       NaN       NaN           9           0       39 ...
9       1138       NaN       NaN           8           0       35 ...
10      1051       NaN       NaN           9           0       39 ...
11      1056       NaN       NaN           9           0       39 ...
12      1076       NaN       NaN           8           2       37 ...
13      1145        30        31           2           0        9 ...
14      1173       NaN        27           0           3        3 ...
15      1176       NaN       NaN           0          33       33 ...
16      1200       NaN       NaN           0          33       33 ...
17       934       NaN       NaN           9           0       39 ...
18      1049       NaN        42           0           5        5 ...
19      1128       NaN       NaN           9           2       41 ...
20      1160       NaN       NaN           9           0       39 ...
21       944       NaN       NaN           9           0       39 ...
22      1049        27        26           0           8        8 ...
23      1068       NaN       NaN           9           0       39 ...
24      1110       NaN       NaN           9           0       39 ...
25      1154       NaN       NaN           9           0       39 ...
26      1139       NaN       NaN           9           0       39 ...
27       921       NaN       NaN           9           3       42 ...
28       947       NaN       NaN           8           2       37 ...
29       956       NaN       NaN           9           1       40 ...
30      1146       NaN        28           2           3       12 ...
31      1169       NaN       NaN           9           2       41 ...
32      1092       NaN       NaN           8           3       38 ...
33      1112       NaN       NaN           9           0       39 ...
34      1224       NaN       NaN           9           0       39 ...
35      1143       NaN       NaN           9           0       39 ...
36      1179       NaN        25           4           0       17 ...
37      1018       NaN        20           5           2       24 ...
38      1122       NaN        35           1           2        6 ...
39      1156       NaN       NaN           0          39       39 ...
40      1214       NaN       NaN           0          36       36 ...
41      1222       NaN        19           3           0       13 ...
42      1001       NaN       NaN           0          36       36 ...
43      1042       NaN       NaN           0          40       40 ...
44      1082       NaN       NaN           9           0       39 ...
45      1123        20        21           3           0       13 ...
46      1147        22        23           3           0       13 ...
47      1154       NaN       NaN           9           0       39 ...
48      1095       NaN       NaN           9           0       39 ...
49      1168       NaN       NaN           9           0       39 ...
50      1193       NaN        29           0           8        8 ...
51      1079       NaN        24           0           5        5 ...
52      1055       NaN       NaN           9           0       39 ...
53      1090       NaN       NaN           8           2       37 ...
54      1100       NaN       NaN           9           0       39 ...
55      1083       NaN       NaN           9           1       40 ...
56      1137       NaN       NaN           9           1       40 ...
57      1079        25        35           2           0        9 ...
58      1092       NaN       NaN           0          41       41 ...
59      1125       NaN       NaN           0          37       37 ...
         ...       ...       ...         ...         ...      ...

[13593 rows x 244 columns]

Print value counts for <tt>birthord</tt> and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611933)

In [36]:
df.birthord.value_counts().sort_index()

1     4413
2     2874
3     1234
4      421
5      126
6       50
7       20
8        7
9        2
10       1
dtype: int64

Print value counts for <tt>prglngth</tt> and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611931)

In [37]:
df.prglngth.value_counts().sort_index()

0       15
1        9
2       78
3      151
4      412
5      181
6      543
7      175
8      409
9      594
10     137
11     202
12     170
13     446
14      29
15      39
16      44
17     253
18      17
19      34
20      18
21      37
22     147
23      12
24      31
25      15
26     117
27       8
28      38
29      23
30     198
31      29
32     122
33      50
34      60
35     357
36     329
37     457
38     609
39    4744
40    1120
41     591
42     328
43     148
44      46
45      10
46       1
47       1
48       7
50       2
dtype: int64

Print value counts for <tt>agepreg</tt> and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611935).

Looking at this data, please remember my comments in the book about the obligation to approach data with consideration for the context and respect for the respondents.

In [38]:
df.agepreg.value_counts().sort_index()

10.33    1
10.50    1
10.83    1
10.91    1
11.08    1
11.41    1
11.50    1
11.75    2
12.08    1
12.25    1
12.41    2
12.50    1
12.66    2
12.75    1
12.83    2
...
41.91    4
42.08    2
42.16    1
42.25    1
42.33    1
42.41    1
42.50    2
42.58    2
42.75    2
43.00    3
43.16    1
43.25    4
43.58    3
43.91    1
44.08    1
Length: 373, dtype: int64

Compute the mean birthweight.

In [39]:
df.totalwgt_lb.mean()

7.2656284576233681

Create a new column named <tt>totalwgt_kg</tt> that contains birth weight in kilograms.  Compute its mean.  Remember that when you create a new column, you have to use dictionary syntax, not dot notation.

In [40]:
df['totalwgt_kg'] = df.totalwgt_lb*0.453
df.totalwgt_kg.mean()

3.2913296913033805

Look through the codebook and find a variable, other than the ones mentioned in the book, that you find interesting.  Compute values counts, means, or other statistics.

In [41]:
df.learnprg.value_counts().sort_index()
df.learnprg.mean()

5.2973840078973344

Create a boolean Series.

In [42]:
df.outcome == 1

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14    False
...
13578     True
13579     True
13580    False
13581     True
13582    False
13583    False
13584     True
13585    False
13586    False
13587    False
13588     True
13589    False
13590    False
13591     True
13592     True
Name: outcome, Length: 13593, dtype: bool

Use a boolean Series to select the records for the pregnancies that ended in live birth.

In [43]:
live = df[df.outcome == 1]
len(live)

9148

Count the number of live births with <tt>birthwgt_lb</tt> between 0 and 5 pounds (including both).  The result should be 1125.

In [44]:
len(live[(live.birthwgt_lb >= 0) & (live.birthwgt_lb <= 5)])

1125

Count the number of live births with <tt>birthwgt_lb</tt> between 9 and 95 pounds (including both).  The result should be 798

In [45]:
len(live[(live.birthwgt_lb >= 9) & (live.birthwgt_lb <= 95)])

798

Use <tt>birthord</tt> to select the records for first babies and others.  How many are there of each?

In [46]:
firsts = df[df.birthord==1]
others = df[df.birthord>1]
len(firsts), len(others)

(4413, 4735)

Compute the mean weight for first babies and others.

In [47]:
firsts.totalwgt_lb.mean()

7.201094430437772

In [48]:
others.totalwgt_lb.mean()

7.3258556149732623

Compute the mean <tt>prglngth</tt> for first babies and others.  Compute the difference in means, expressed in hours.

In [49]:
frst_prg = firsts.prglngth.mean()
othr_prg = others.prglngth.mean()
diff = (frst_prg - othr_prg)*(24*7)
diff

13.110260818628319

## Clarifying Questions

Use this space to ask questions regarding the content covered in the reading. These questions should be restricted to helping you better understand the material. For questions that push beyond what is in the reading, use the next answer field. If you don't have a fully formed question, but are generally having a difficult time with a topic, you can indicate that here as well.

## Enrichment Questions

Use this space to ask any questions that go beyond (but are related to) the material presented in this reading. Perhaps there is a particular topic you'd like to see covered in more depth. Perhaps you'd like to know how to use a library in a way that wasn't show in the reading. One way to think about this is what additional topics would you want covered in the next class (or addressed in a followup e-mail to the class). I'm a little fuzzy on what stuff will likely go here, so we'll see how things evolve.

## Additional Resources / Explorations

If you found any useful resources, or tried some useful exercises that you'd like to report please do so here. Let us know what you did, what you learned, and how others can replicate it.